__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

.env
.venv/
venv/

data/raw/**
data/processed/**
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/README.md

models/*.keras
models/*.h5
models/*.weights.h5
models/class_names.json
!models/README.md

results/*.csv
results/*.json
results/*.png
!results/README.md
